<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">


<th:block layout:fragment="content">

    <section style="background-color: #eee;">
        <div class="container py-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6">

                    <div class="card" id="chat2">
                        <div class="card-header d-flex justify-content-between align-items-center p-3">
                            <h5 class="mb-0" th:text="${room.roomName}">ROOM TITLE</h5>

                            <button type="button" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark" id="goList">
                                List
                            </button>

                        </div>
                        <div class="card-body" data-mdb-perfect-scrollbar="true" id="cardBody"
                             style="position: relative; height: 55vh; overflow: scroll;">

<!--                            <div class="d-flex flex-row justify-content-start">-->
<!--                                <div>test1</div>-->
<!--                                <div>-->
<!--                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Hi</p>-->
<!--                                    <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="d-flex flex-row justify-content-end mb-4 pt-1">-->
<!--                                <div>-->
<!--                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Hiii, I'm good.</p>-->
<!--                                    <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:06</p>-->
<!--                                </div>-->
<!--                                <div>test2</div>-->
<!--                            </div>-->

<!--                            <div class="d-flex flex-row justify-content-start mb-4">-->
<!--                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"-->
<!--                                     alt="avatar 1" style="width: 45px; height: 100%;">-->
<!--                                <div>-->
<!--                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Okay</p>-->
<!--                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">We will-->
<!--                                        go on-->
<!--                                        Sunday?</p>-->
<!--                                    <p class="small ms-3 mb-3 rounded-3 text-muted">00:07</p>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="d-flex flex-row justify-content-end mb-4">-->
<!--                                <div>-->
<!--                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">That's awesome!</p>-->
<!--                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">I will meet you-->
<!--                                        Sandon Square-->
<!--                                        sharp at-->
<!--                                        10 AM</p>-->
<!--                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Is that okay?</p>-->
<!--                                    <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:09</p>-->
<!--                                </div>-->
<!--                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"-->
<!--                                     alt="avatar 1" style="width: 45px; height: 100%;">-->
<!--                            </div>-->

<!--                            <div class="d-flex flex-row justify-content-start mb-4">-->
<!--                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"-->
<!--                                     alt="avatar 1" style="width: 45px; height: 100%;">-->
<!--                                <div>-->
<!--                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Okay i-->
<!--                                        will meet-->
<!--                                        you on-->
<!--                                        Sandon Square</p>-->
<!--                                    <p class="small ms-3 mb-3 rounded-3 text-muted">00:11</p>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="d-flex flex-row justify-content-end mb-4">-->
<!--                                <div>-->
<!--                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Do you have pictures-->
<!--                                        of Matley-->
<!--                                        Marriage?</p>-->
<!--                                    <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:11</p>-->
<!--                                </div>-->
<!--                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"-->
<!--                                     alt="avatar 1" style="width: 45px; height: 100%;">-->
<!--                            </div>-->

<!--                            <div class="d-flex flex-row justify-content-start mb-4">-->
<!--                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"-->
<!--                                     alt="avatar 1" style="width: 45px; height: 100%;">-->
<!--                                <div>-->
<!--                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Sorry I-->
<!--                                        don't-->
<!--                                        have. i-->
<!--                                        changed my phone.</p>-->
<!--                                    <p class="small ms-3 mb-3 rounded-3 text-muted">00:13</p>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="d-flex flex-row justify-content-end">-->
<!--                                <div>-->
<!--                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Okay then see you on-->
<!--                                        sunday!!-->
<!--                                    </p>-->
<!--                                    <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:15</p>-->
<!--                                </div>-->
<!--                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"-->
<!--                                     alt="avatar 1" style="width: 45px; height: 100%;">-->
<!--                            </div>-->

                        </div>
                        <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                            <input type="text" class="form-control form-control-lg" id="messageInput"
                                   placeholder="Type message">
                            <a class="ms-3" style="cursor: pointer;" id="messageSend"><i class="fas fa-paper-plane"></i></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

</th:block>

<th:block layout:fragment="addJslib">
    <script src="/libs/sockjs-client-1.6.1/dist/sockjs.js"></script>
    <script src="/libs/stomp-websocket-2.3.4/lib/stomp.js"></script>
</th:block>

<th:block layout:fragment="js">
    <script>

        const pathArray = window.location.pathname.split('/');
        const roomId = pathArray[3];
        const userCookieId = getCookie("userId");
        const userName = getCookie("userName");
        const messageSendBtn = document.getElementById("messageSend");
        const messageInput = document.getElementById("messageInput");
        const goListBtn = document.getElementById("goList");
        const messageContainer = document.getElementById("cardBody");

        let lastMessageId;
        let lastAppendEl;

        console.log("roomId : " + roomId);
        console.log("userCookieId : " + userCookieId);
        console.log(messageSendBtn);

        wsConnect();

        function wsConnect() {
            const sock = new SockJS("/stomp-chat");
            const client = Stomp.over(sock); // 1. SockJS를 내부에 들고 있는 client를 내어준다.

            // 2. connection이 맺어지면 실행된다.
            //~ (void) connect(headers, connectCallback, errorCallback)
            client.connect({}, function () {
                // 3. send(path, header, message)로 메시지를 보낼 수 있다.
                client.send('/publish/chat/join', {}, JSON.stringify({roomId: roomId, senderId: userCookieId, type: "JOIN", senderName:userName}));

                // 4. subscribe(path, callback)로 메시지를 받을 수 있다. callback 첫번째 파라미터의 body로 메시지의 내용이 들어온다.
                client.subscribe('/subscribe/chat/room/' + roomId, function (chat) {
                    let content = JSON.parse(chat.body);
                    let type = content.type;
                    let message = content.message;
                    let senderId = content.senderId;
                    let senderName = content.senderName;
                    let msgTime = content.time;
                    msgTime = new Date(msgTime).toLocaleTimeString('ko-kr');

                    if (type==='JOIN' || type==='LEAVE'){
                        messageContainer.appendChild(makeJoinCard(senderName, type));
                        return;
                    }

                    if (senderId===userCookieId){
                        console.log("my msg");
                        if(lastMessageId===userCookieId){
                            makeUpdateMyMsgCard(message,msgTime, lastAppendEl);
                        }else{
                            lastAppendEl = messageContainer.appendChild(makeMyMsgCard(message, senderName, msgTime));
                        }
                    } else {
                        console.log("other msg");
                        if(lastMessageId===senderId){
                            makeUpdateOtherMsgCard(message,msgTime, lastAppendEl);
                        }else {

                            lastAppendEl = messageContainer.appendChild(makeOtherMsgCard(message, senderName, msgTime));
                        }

                    }

                    // 스크롤 아래로 내리기
                    messageContainer.scrollTop = messageContainer.scrollHeight;
                    lastMessageId = senderId;
                });
                showToast("채팅방에 입장하였습니다.", "info");

                messageSendBtn.addEventListener("click", function () {
                    let message = messageInput.value;
                    if (message === "") {return;}
                    client.send('/publish/chat/message', {}, JSON.stringify({type:'MESSAGE', roomId: roomId, message: message, senderId: userCookieId, senderName: userName}));
                    messageInput.value = "";
                });

                window.onbeforeunload = function () {
                    client.send('/publish/chat/leave', {}, JSON.stringify({roomId: roomId, senderId: userCookieId, type: "LEAVE", senderName:userName}));
                };

            }, function (error) {
                console.log("STOMP error " + error);
                showToast("error ocurred.", "error");
            });

        }//.ws


        // 목록으로 돌아가기
        goListBtn.addEventListener("click", function () {
            window.location.href = "/chatRooms";
        });




    </script>
</th:block>

</html>


