<!DOCTYPE HTML>
<!--suppress JSUnresolvedVariable -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:include="layout/fragments/header :: headFragment">
    <head>
        <link rel="stylesheet" href="/css/chatRooms.css">
    </head>
</th:block>

<th:block layout:fragment="content">
    <section>
        <div class="container py-5">
            <div class="row">
                <h5 class="font-weight-bold text-center">Rooms</h5>
                <a>
                    <img class="make-chat-room-btn" src="img/icons8-plus-100.png" alt="">
                </a>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled mb-0" id="chatRoomListContainer"></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</th:block>

<th:block layout:fragment="js">
    <script>
        //console.log(document.cookie);
        const chatRoomListContainer = document.getElementById("chatRoomListContainer");

        axios.get(location.href + '/getRooms', {})
            .then(function (response) {
                console.log(response);
                let resData = response.data;
                if (resData.length === 0) {
                    chatRoomListContainer.append(makeNoRoomLi());
                } else {
                    resData.forEach(function (item) {
                        console.log(item);
                        let name = item.name;
                        let createdAt = new Date(item.createdAt).toLocaleString();
                        let roomId = item.roomId;
                        // chatRoomListContainer.appendChild(makeChatListLi());
                    });
                }
            })
            .catch(function (error) {
                showToast("getRooms failed.", "error");
                console.log(error);
            });


    </script>
</th:block>

</html>


