<!DOCTYPE HTML>
<!--suppress JSUnresolvedVariable -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:include="layout/fragments/header :: headFragment">
    <head>
        <link rel="stylesheet" href="/css/chatRooms.css">
    </head>
</th:block>

<th:block layout:fragment="content">
    <section>
        <div class="container py-5">
            <div class="row">
                <h5 class="font-weight-bold text-center">Rooms</h5>
                <a>
                    <img class="make-chat-room-btn cursor-pointer-action-btn" src="img/icons8-plus-100.png" alt="" data-mdb-toggle="modal" data-mdb-target="#createRoomModal">
                </a>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled mb-0" id="chatRoomListContainer"></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="createRoomModal" tabindex="-1" aria-labelledby="createRoomModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createRoomModalLabel">Create Room</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <input type="text" class="form-control" id="roomName" placeholder="Please enter the room name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="mqkeRoomOk">Ok</button>
                </div>
            </div>
        </div>
    </div>


</th:block>

<th:block layout:fragment="js">
    <script>
        let userCookieId = getCookie("userId");
        console.log(userCookieId);
        const chatRoomListContainer = document.getElementById("chatRoomListContainer");
        const mqkeRoomOk = document.getElementById("mqkeRoomOk");

        // 방 목록 가져오기
        axios.get(location.href + '/getRooms', {})
            .then(function (response) {
                console.log(response);
                let resData = response.data;
                if (resData.length === 0) {
                    chatRoomListContainer.append(makeNoRoomLi());
                } else {
                    resData.forEach(function (item) {
                        let name = item.name;
                        let createdAt = new Date(item.createdAt).toLocaleString();
                        let roomId = item.roomId;
                        chatRoomListContainer.appendChild(makeChatListLi(name, createdAt, roomId));
                    });
                }
            })
            .catch(function (error) {
                showToast("getRooms failed.", "error");
                console.log(error);
            });

        // 방 생성
        mqkeRoomOk.addEventListener("click", function () {
            let roomName = document.getElementById("roomName").value;
            if (roomName === "") {
                showToast("Please enter the room name.", "warn");
                return;
            }
            axios.post(location.href + '/makeRoom', {
                name: roomName
            })
                .then(function (response) {
                    console.log(response);
                    let resData = response.data;
                    if (resData.result === "success") {
                        console.log(resData);
                    } else {
                        showToast("Room creation failed.", "error");
                    }
                })
                .catch(function (error) {
                    showToast("Room creation failed.", "error");
                    console.log(error);
                });
        });


    </script>
</th:block>

</html>


