<!DOCTYPE HTML>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/MDB5-STANDARD-UI-KIT-Free-6.1.0/css/mdb.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/toastify.css">
</head>

<body class="text-center">

    <!--  html 전체 영역을 지정하는 container -->
    <div id="container">
        <!--  login 폼 영역을 : loginBox -->
        <div id="loginBox">

            <!-- 로그인 페이지 타이틀 -->
            <div id="loginBoxTitle">WebChat</div>

            <div id="inputBox">
                <div class="input-form-box">
                    <label class="w-100">
                        <input type="text" name="uid" class="form-control" placeholder="Username" id="userName" />
                    </label>
                </div>
                <div class="button-login-box" >
                    <a role="button" class="btn btn-primary btn-lg w-100 p-2" >Login</a>
                </div>
            </div>

        </div>
    </div>

<script src="/MDB5-STANDARD-UI-KIT-Free-6.1.0/js/mdb.min.js"></script>
<script src="/js/toastify.js"></script>
<script>

    const alertObj = Toastify({
        text: "Please enter your username",
        duration: 1000,
        newWindow: true,
        close: true,
        gravity: "top", // `top` or `bottom`
        position: "left", // `left`, `center` or `right`
        stopOnFocus: true, // Prevents dismissing of toast on hover
        style: {
            background: "linear-gradient(to right, #42a5ef, #3d50c9)",
        },
        onClick: function(){ // Callback after click
            alertObj.hideToast();
        }
    });

    const username =  document.getElementById("userName");
    const loginBtn = document.querySelector(".button-login-box");

    loginBtn.addEventListener("click", () => {
        if(username.value === ""){
            alertObj.showToast();
        }else{
            console.log(username.value);
            // location.href = "/chat";
        }
    });


</script>
</body>
</html>


