<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <!--  html 전체 영역을 지정하는 container -->
    <div id="container">
        <!--  login 폼 영역을 : loginBox -->
        <div id="loginBox">

            <!-- 로그인 페이지 타이틀 -->
            <div id="loginBoxTitle">WebChat</div>

            <div id="inputBox">
                <div class="input-form-box">
                    <label class="w-100">
                        <input type="text" name="uid" class="form-control" placeholder="Username" id="userName"  onkeyup="characterCheck(this)" />
                    </label>
                </div>
                <div class="button-login-box" >
                    <a role="button" class="btn btn-primary btn-lg w-100 p-2" >Login</a>
                </div>
            </div>

        </div>
    </div>



</th:block>

<th:block layout:fragment="js">
    <script>

        const username =  document.getElementById("userName");
        const loginBtn = document.querySelector(".button-login-box");

        username.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                loginBtn.click();
            }
        });

        loginBtn.addEventListener("click", () => {
            if (username.value === "") {
                showToast("Please enter your username.", "info");
            } else {
                let reqObj = {userName: username.value};
                //console.log(JSON.stringify(reqObj));
                axios.post(location.href+'/user', JSON.stringify(reqObj),{withCredentials:true, headers: { "Content-Type": 'application/json'}})
                    .then(function (response) {
                        console.log(response);
                        console.log(document.cookie)
                    })
                    .catch(function (error) {
                        showToast("Login failed.", "error");
                        console.log(error);
                    });
            }
        });

    </script>
</th:block>

</html>


