<!DOCTYPE HTML>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/MDB5-STANDARD-UI-KIT-Free-6.1.0/css/mdb.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body class="text-center">

    <!--  html 전체 영역을 지정하는 container -->
    <div id="container">
        <!--  login 폼 영역을 : loginBox -->
        <div id="loginBox">

            <!-- 로그인 페이지 타이틀 -->
            <div id="loginBoxTitle">WebChat</div>

            <div id="inputBox">
                <div class="input-form-box">
                    <span>ChatName</span>
                    <label class="ps-3">
                        <input type="text" name="uid" class="form-control">
                    </label>
                </div>
    <!--            <div class="input-form-box"><span>비밀번호 </span><input type="password" name="upw" class="form-control"></div>-->
                <div class="button-login-box" >
<!--                    <button type="button" class="btn btn-primary btn-lg" style="width:100%">Login</button>-->
                    <a role="button" class="btn btn-primary btn-lg w-100 p-2">Login</a>
                </div>
            </div>

        </div>
    </div>

<script src="/MDB5-STANDARD-UI-KIT-Free-6.1.0/js/mdb.min.js"></script>
</body>
</html>


